<mat-sidenav-container>
  <app-side-bar></app-side-bar>
  <mat-sidenav #sidenav="matSidenav" mode="side" class="mat-elevation-z8" opened>
    <app-side-bar></app-side-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <mat-toolbar color="primary">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">
            menu
          </mat-icon>
          <mat-icon *ngIf="sidenav.opened">
            close
          </mat-icon>
        </button>
        NAME
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
