
table {
  //width: 100%;
  background-color: rgb(250 250 250);
  color: black;
}

.mat-header-cell {
  text-align: center;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  font-weight: bold;
  color: black;
}

.mat-header-cell:first-of-type {
  padding: 0;
}

.mat-cell {
  text-align: left;
  width: 100px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.mat-cell:first-of-type {
  text-align: left;
  padding: 0;
}

.mat-footer-cell:first-of-type {
  text-align: right;
  border-left: 1px solid #e0e0e0;
}
.mat-footer-cell:last-child{
  text-align: right;
  font-weight: bold;
  border-right: 1px solid #e0e0e0;
}
