@import 'src/styles/variables';

table {
  background-color: $col-table;
  color: $col-font
}

.mat-header-cell {
  text-align: center;
  border-left: $border-style;
  border-right: $border-style;
  border-top: $border-style;
  font-weight: bold;
  color: $col-font
}

.mat-header-cell:first-of-type {
  padding: 0;
}

.mat-cell {
  text-align: left;
  width: 7vw;
  border-left: $border-style;
  border-right: $border-style;
}

.mat-cell:first-of-type {
  text-align: left;
  padding: 0;
}

.mat-footer-cell:first-of-type {
  text-align: right;
  border-left: $border-style;
}

.mat-footer-cell:last-child{
  text-align: right;
  font-weight: bold;
  border-right: $border-style;
}
