@import 'src/styles/variables';

.btn-side-bar {
  width: 100%;
  height: 8vh;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  text-align: left;
}

.main-text-container {
  background-color: $col-toolbar
}

.active-link {
  background-color: $col-active_link;
  color: $col-font;
  font-weight: bold;
}
